# cache
lib/__pycache__
pointnet2/__pycache__
preprocessing/__pycache__

# pointnet2 compiled
pointnet2/build
pointnte2/dis
pointnet2/pointnet2.egg-info

# prep data
preprocessing/scannet_scenes

# outputs
outputs/